{
  "extends": [
    "react-app",
    "prettier",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier/react"
  ],
  "rules": {
    "no-shadow": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "semi": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "plugins": [
    "prettier",
    "jsx-a11y",
    "react-hooks",
    "react"
  ]
}
