@import "common/styles/variable";

.menu {
  background-color: $base-color-light;
}

.scroll {
  overflow: auto;
}

.logo {
  margin: 16px 16px 16px 0;
  float: left;
  width: 30px;
  height: 30px;
}

.chart-container {
  margin-top: 12px;
}

.searchForm {
  margin-bottom: 2em;

  Button {
    float: right;
  }

  .error {
    color: #f5222d;
    min-height: 22px;
    margin-top: -8px;
  }

  .error-input {
    border-color: #f5222d;
  }
}
