@import "styles/variable";

.menu {
  background-color: $base-color-light;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 22px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  li {
    a {
      text-decoration: none;
      color: #333333;
    }
    margin: 0 12px;
  }
}

.chart-container {
  margin-top: 12px;
}
